fastapi
uvicorn[standard]

SQLAlchemy
asyncpg
pgvector
alembic

pydantic
pydantic-settings

python-multipart
python-dotenv

celery
redis

torch
torchvision
ftfy
regex
tqdm

clip @ git+https://github.com/openai/CLIP.git

pillow
numpy

ffmpeg-python

pytest
pytest-asyncio